:root {
// Primary
  --tomato: hsl(4, 100%, 67%);
  --tomato-transparent: hsla(4, 100%, 67%, .15);

// Neutral
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --grey-25: hsla(231, 7%, 60%, .25);
  --white: hsl(0, 0%, 100%);
}