@use 'mixins' as *;

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Regular.woff2) format('woff2'),
       url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(./assets/fonts/Roboto-Bold.woff2) format('woff2'),
       url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
}

body {
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--dark-slate-grey);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
  
  @include tablet-up {
    font-size: 3.5rem;
  }
}

label, span {
  font-size: .75rem;
  font-weight: 700;
}

button {
  font-weight: 700;
  color: var(--white);
  text-align: center;
}